rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Users Collection rules
    match /users/{userId} {
      // Users can only read and write their own profile document
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Projects Collection rules
    match /projects/{projectId} {
      // 1. Anyone can read a project if it has been marked as published
      // 2. The owner can always read their own projects (even if drafts)
      allow read: if resource.data.published == true || (request.auth != null && request.auth.uid == resource.data.ownerId);

      // Owners can create a project if they assign their UID as ownerId
      allow create: if request.auth != null && request.auth.uid == request.resource.data.ownerId;

      // Owners can delete their existing project
      allow delete: if request.auth != null && request.auth.uid == resource.data.ownerId;

      // Owners can update their existing project, but cannot change the ownerId
      allow update: if request.auth != null && request.auth.uid == resource.data.ownerId && request.auth.uid == request.resource.data.ownerId;
    }
  }
}
